* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

:root {
    --min-color-: #10cab7
}

body {

    font-family: 'Work Sans', sans-serif;
}


.container {
    padding-right: 50px;
    padding-left: 50px;
    margin-left: auto;
    margin-right: auto;
    /* width: 600px ; */



}

.spchial-heding {
    color: #8a8a8a77;
    font-size: 150px;
    margin-bottom: 0;
    text-align: center;
    font-weight: 800;
    margin: 0;
}

/*meni*/
@media(min-width:768px) {
    .container {
        width: 750px
    }

    /*medium*/
}

@media(min-width:992px) {
    .container {
        width: 970px
    }

    /*large*/
}

@media(min-width:1200px) {
    .container {
        width: 1170px
    }
}
html{
    scroll-behavior: smooth;
}

/*                                   coding in                               */
.headre {
    padding: 20px;
}

.headre .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container .logo {
    width: 60px;
}

.container .links {
    position: relative;
}

.container .links:hover ul {
    display: block;
}

.container .links:hover .icon span:nth-child(2) {
    width: 100%;
}

.container .links .icon {
    width: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.container .links .icon span {
    width: 100%;
    background-color: #333;
    margin-bottom: 5px;


}


.container .links .icon span:first-child {
    width: 100%;
    height: 2px;



}

.container .links .icon span:nth-child(2) {
    width: 60%;
    height: 2px;
    transition: 0.3s;



}


.container .links .icon span:last-child {
    width: 100%;
    height: 2px;

}

.container .links ul {
    margin: 0;
    padding: 0;
    list-style: none;
    position: absolute;
    right: 0;
    min-width: 200px;
    width: calc(100% + 15px);
    background-color: #f3f3f3;
    display: none;
    z-index: 1;
}

.container .links ul::after {
    content: '';
    border-width: 10px;
    border-color: rgba(0, 0, 0, 0) rgba(255, 255, 255, 0) var(--min-color-) rgba(0, 128, 0, 0);
    border-style: solid;
    position: absolute;
    right: 5px;
    top: -20px;
}




.container .links ul li a {

    display: block;
    padding: 15px;
    color: #333;
    transition: 0.3s;
    text-decoration: none;
    border-bottom: 1px solid #333;



}

.container .links ul li a:hover {
    padding-left: 25px;
}

/* ---------------- */

.landing {
    background-image: url(/foto/istockphoto-1320442651-612x612.webp);
    background-size: cover;
    height: calc(100vh - 64px);
    position: relative;


}

.landing .text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 350px;
    max-width: 100%;
}

.landing .text h1 {

    font-size: 50px;
    font-weight: bold;
    color: var(--min-color-);
    width: 100%;

}

.landing .text p {
    font-size: 19px;
    line-height: 1.8;
}

/* .cards */
.featurs {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #f3f3f3;

}

.featurs .container {
    display: grid;

    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 2px;




}

.featurs .card {
    padding: 20px;
    text-align: center;
}

.featurs .card i {
    font-size: 70px;
    color: var(--min-color-);
}

.featurs .card h2 {
    font-size: 25px;
    font-weight: 800;

}

.featurs .card p {
    font-size: 20px;
    color: #333333d3;
    line-height: 1.8;
}

/*spchial serves */

.baer_ser {
    padding-bottom: 60px;
    padding-top: 60px;
}

.spchial-heding+p {
    text-align: center;
    margin-top: -40px;
}



@media(max-width:767px) {
    .spchial-heding {
        font-size: 80px;
        margin-left: -30px;


    }

    .baer_ser .container p {
        margin-top: -30px;

    }

}

.baer_ser .servces-content {
    margin-top: 100px;
    display: grid;

    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
}

.baer_ser .servces-content .col .srv {
    display: flex;
    margin-bottom: 40px;
}

@media (max-width:767px) {

    .baer_ser .servces-content .col .srv {
        flex-direction: column;
        text-align: center;
    }

}

.baer_ser .container .servces-content .col .srv i {
    font-size: 30px;
    color: var(--min-color-);
    flex-basis: 60px;

}

.baer_ser .container .servces-content .col .srv .serv-text {
    flex: 1;
}

.baer_ser .container .servces-content .col .srv .serv-text h3 {
    margin: 0 0 20px;
}

.baer_ser .container .servces-content .col .srv .serv-text p {
    color: #333;
    font-weight: 300;
    line-height: 1.8;
}

.baer_ser .container .servces-content .col .image {
    text-align: center;
    position: relative;

}

.baer_ser .container .servces-content .col .image::before {
    content: '';
    width: 100px;
    height: calc(100% + 100px);
    right: 0;
    z-index: -1;
    background-color: #353e7a;
    position: absolute;
    top: -50px;


}

.baer_ser .container .servces-content .col .image img {
    width: 260px;
}

@media(max-width:1199px) {
    .baer_ser .container .servces-content .col .image {
        display: none;
    }
}



/* prodfail */

.podfaile {
    padding-bottom: 60px;
    padding-top: 60px;

}

.podfaile .container .pod {
    display: grid;

    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
    margin-top: 100px;
}

.podfaile .podfaile-content {
    text-align: center;



}

.podfaile .podfaile-content h3 {
    color: var(--min-color-);
    font-weight: 800;

}

.podfaile .container .pod .podfaile-content img {
    width: 100%;


}

/* aboooooooooooooouuuuuuuuuuuuttttttttttt */

.about {
    padding-bottom: 60px;
    padding-top: 60px;
    margin: 100px;

}

.about .about_content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;

}

.about .about_content .about_img {
    position: relative;
    width: 250px;
    height: 250px;
}

.about .about_content .about_img::before {
    content: '';
    width: 100px;
    height: calc(100% + 100px);
    right: 0;
    left: -20px;
    z-index: -1;
    background-color: #d3d3d3;
    position: absolute;
    top: -50px;

}

.about .about_content .about_img::after {
    content: '';
    position: absolute;
    width: 100px;
    height: calc(100% + 20px);
    /* background-color: var(--min-color-); */
    border-bottom: 80px solid var(--min-color-);
    top: -50px;
    right: -90px;
    z-index: -1;
    border-left: 80px solid var(--min-color-);







}



.about .about_content .about_text {
    max-width: 50%;



}

.about .about_content .about_text p:first-child {

    color: #231449;
    font-weight: bold;
    word-spacing: 2px;
    font-size: 20px;
    line-height: 1.8;
    padding-bottom: 10px;
}

.about .about_content .about_text p:last-child {
    padding: 10px;
    color: #33333376;
    border: 1px solid;
    border-color: var(--min-color-) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 255, 0);
    margin-top: 20px;
    border-width: 25%;

}

@media(max-width:767px) {
    .about_content {

        max-width: 100%;
        ;
        margin: 0;

    }

    .about .about_content .about_text {
        max-width: 100%;
        text-align: center;

    }



    .about .about_content .about_img {
        display: none;
    }

    .about {
        margin: 0;
    }




}

/* contaaaaaaaaaaaccccccccccccctttttttttttttttttttt */
.contact_content {
    padding-bottom: 60px;
    padding-top: 60px;
    margin: 100px;

}

.contact .contact_content .text_contact h2:first-child {
    color: var(--min-color-);
    font-size: 70px;
    width: 100%;
    margin-left: -20px;
}

.contact .contact_content .text_contact h2:nth-child(2) {
    color: #231449;
    font-weight: bold;
    font-size: 50px;
    line-height: 1.8;
    padding-bottom: 10px;
}

.contact .contact_content .soshial_content {
    display: flex;
    margin-left: 20px;
    margin-top: 0;
    text-align: center;

}

.contact .contact_content .soshial_content i {
    font-size: 25px;
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 10px;

}

@media(max-width:767px) {
    .contact .contact_content .text_contact h2:nth-child(2) {
        font-size: 30px;
        padding-bottom: 10px;
        max-width: 100%;
    }
    .contact_content {
    margin: 0;
    }

    .contact .contact_content .text_contact h2:first-child {
        font-size: 40px;
        width: 100%;
        /* margin-left: -20px; */
        text-align: center;
    }

    .contact {
        margin: 0;
    }

}
.contact .end{
    margin-top: 100px;
    padding: 20px;
    width:100%;
    text-align: center;
    background-color: #231449;
    margin-bottom: 0;
    color: #d3d3d3;

}
















/* coding off  */